doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        meta(name="fragment" content="!")
        title ATS 18F Demo (Pool 2)
        base(href="/")

body
    h1 Hello, World!
