button,
.button {
    display: inline-block;
    margin: 0;
    padding: $button-padding;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    color: $button-fg;
    background-color: $button-bg;
    font-family: $font-family;
    font-weight: $button-font-weight;
    font-size: $font-size-base;
    border-radius: 2px;

    margin-bottom: .2em;
    margin-right: .2em;

    > .button__icon {
        margin-right: 1em;
        vertical-align: middle;
    }
}

.button--primary {
    color: $button-primary-fg;
    background-color: $button-primary-bg;
}

.button--block {
    display: block;
    width: 100%;
}

.button--large {
    padding: .8em 1.2em;
    > .button__icon {
        font-size: 18px;
    }
}

.button--rounded {
    border-radius: 100px;
}

.button--facebook {
    background-color: #3b5998;
    color: #fff;
}

.button--twitter {
    background-color: #00aced;
    color: #fff;
}
