.drug-details {
    padding-left: 60px;
    padding-right: 60px;

    .subscribe,
    .unsubscribe {
        margin-top: 18px;
    }

    h1 {
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .drug-details__sub-title {
        color: $color-muted;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .subscribe {
        background-color: $color-primary;
    }

    .unsubscribe {
        background-color: $button-bg;
        color: $button-fg;
    }

    h5 {
        margin-top: 1.25em;
        margin-bottom: .5em;
    }

    .row {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .col-3 {
        width: 33.3%;
        float: left;
    }
}
