.drugs {
    position: relative;
    height: 100%;
}

.drugs--populated {
    .drugs__master {
        transform: translate(0, 0);
        left: 0;
        width: 400px;
        border-right: 1px solid $component-border;
        background: #f6f6f6;
    }
}

.drugs__master {
    width: 600px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-right: 1px solid transparent;
    transition: all 250ms ease-out, border-right-color 500ms cubic-bezier(.79,-0.1,.39,.62);

    .drug-list {
        margin-top: 12px;
    }
}

.drugs--populated {
    .drugs__details {
        position: absolute;
        left: 400px;
        top: 0;
        height: 100%;
        right: 0;
    }
}


.drugs__details {
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
