.drug-list {
    .drug-list__item {
        text-decoration: none;
        color: $text-color;
        padding: 8px 28px;
        cursor: pointer;
        display: block;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        height: 65px;
        overflow: hidden;


        .drug-list__item__brand_name {
            font-size: 16px;
            margin-bottom: -4px;
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 400;
        }
        .drug-list__item__manufacturer_name {
            color: #999;
            font-size: 13px;

            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 400;
        }

        &:hover {
            background-color: #fafafa;
        }

        &.active {
            transition: all 200ms ease-out;
            border-top-color: $component-border;
            border-bottom-color: $component-border;
            background-color: #fff;
            box-shadow: 1px 0 0 0 #fff;
        }

    }

    &.drug-list--fade-appear {
        opacity: 0.01;
        transition: opacity 250ms ease-in;
    }

    &.drug-list--fade-appear.drug-list--fade-appear-active {
        opacity: 1;
    }
}
