.drug-list {
    .drug-list__item {
        text-decoration: none;
        color: $text-color;
        padding: 8px 28px;
        cursor: pointer;
        display: block;

        .drug-list__item__brand_name {
            font-size: 16px;
            margin-bottom: 4px;
        }
        .drug-list__item__manufacturer_name {
            color: #999;
            font-size: 13px;
        }

        &:hover {
            background-color: #f4f4f4;
        }

        &.active {
            background-color: #f4f4f4;
        }

    }

    &.drug-list--fade-appear {
        opacity: 0.01;
        transition: opacity 250ms ease-in;
    }

    &.drug-list--fade-appear.drug-list--fade-appear-active {
        opacity: 1;
    }
}

