.drugs {
    position: relative;
    height: 100%;
}

.drugs--populated {
    .drugs__master {
        @include transform(translate(0, 0));
        width: 400px;
        top: 0;
        left: 0;
        border-right: 1px solid $component-border;
        background: #f6f6f6;

        .search-field {
            input,
            .fa {
                font-size: 18px;
            }
        }
    }
}
.chart {
    width: 100%;
    height: 200px;
    margin-top: .75em;
}


.drugs--populated .drugs__master .search-field,
.drugs--has-queried .drugs__master .search-field {
    margin-top: 0;

    input,
    .fa {
        font-size: 18px;
    }
}

.drugs__master {
    width: 600px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    border-right: 1px solid transparent;
    @include transition(all 350ms ease-out, border-right-color 500ms cubic-bezier(.79,-0.1,.39,.62));

    @include transform(translate(-50%, 0));

    .drugs__master__empty-state {
        color: #aaa;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        opacity: 1;
        transition: all 250ms cubic-bezier(.79,-0.1,.39,.62);
        position: absolute;
        width: 100%;

        .drugs__master__empty-state__icon {
            font-size: 100px;
            color: #aaa;
        }
    }

    .result-count {
        color: $color-muted;
        padding: 8px 28px;
        border-bottom: 1px solid $component-border;
        margin-bottom: -1px;
        position: relative;

        .result-count__number {
            color: $text-color;
        }
    }

    .search-field {
        margin-top: 100px;
        input,
        .fa {
            font-size: 18px;
        }
    }

    .drug-list {
        //margin-top: 12px;
    }
}

.drugs--populated {
    .drugs__details {
        position: absolute;
        left: 400px;
        top: 0;
        height: 100%;
        right: 0;
        overflow-y: auto;
    }
}


.drugs__details {
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}
