.login {
    height: 100%;
    width: 100%;

    .login__details {
        background-color: $color-secondary;
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
        position: relative;

        @media (max-width: $width-mobile) {
            height: auto;
            width: 100%;
            float: none;

            .center-vh {
                position: static;
                @include transform(none);
                padding: 0 40px;
                margin-bottom: 40px;
            }
        }

        h1 {
            color: #fff;
            text-align: center;
            margin: 0;
            width: 100%;
            font-size: 80px;
            font-weight: 100;

            @media (max-width: $width-mobile) {
                font-size: 40px;
            }

        }

        h2 {
            color: #fff;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 14px;
        }
    }

    .login__options {
        position: absolute;
        left: 50%;
        right: 0;
        height: 100%;
        text-align: center;

        @media (max-width: $width-mobile) {
            position: static;
            height: auto;
            width: 100%;
            float: none;
            margin-top: 20px;
        }

        .login__options__buttons {
            width: 100%;
            max-width: 300px;

            .button {
                margin-top: 1em;
                position: relative;
                .button__icon {
                    position: absolute;
                    left: 1em;
                }
            }
        }

        .login__options__footer {
            color: lightgray;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            a {
                text-decoration: none;
                color: grey;
            }
        }

        .login__options__disclaimer {
            color: #aaa;
            position: absolute;
            bottom: 50px;
            width: 100%;
            padding: 20px;
        }
    }
}



@media (max-width: $width-mobile) {
    .center-vh {
        position: static;
        @include transform(none);
        margin: auto;
    }

    .login .login__options {
        .login__options__disclaimer,
        .login__options__footer {
            position: static;
        }
    }
}

.seperator--or {
    margin-top: 1em;
    color: $color-muted;
    text-align: center;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: calc(45% - 10px);
        top: 50%;
        border-bottom: 1px solid $component-border;
    }

    &:after {
        right: 0;
    }

    &:before {
        left: 0;
    }
}
