.manufacturer-details {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1000px;


    h1 {
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 50px;
    }

    h5 {
        margin-top: 1.25em;
        margin-bottom: .5em;
    }

    .row {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .col-3 {
        width: 33.3%;
        float: left;
    }

    .manufacturer-details__info {
        max-width: 600px;
        margin: 40px auto 0 auto;
        .badge {
            margin-top: 15px;
        }
        .badge--large {
            margin-top: 0;
        }
    }

}
