.manufacturers {
    position: relative;
    height: 100%;
}

.manufacturers--populated {
    .manufacturers__master {
        transform: translate(0, 0);
        left: 80px;
        width: 400px;
        top: 0;
        bottom: 0;
        border-right: 1px solid $component-border;
        background: #f6f6f6;
    }
}

.manufacturers__master {
    width: 600px;
    min-height: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-right: 1px solid transparent;
    transition: all 350ms ease-out, border-right-color 500ms cubic-bezier(.79,-0.1,.39,.62);

    .manufacturer-list {
        margin-top: 12px;
    }
}

.manufacturers--populated {
    .manufacturers__details {
        position: absolute;
        left: 400px;
        top: 0;
        height: 100%;
        right: 0;
    }
}


.manufacturers__details {
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
