.my-profile {
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    max-width: 400px;
    h1 {
        font-weight: 300;
        text-align: center;
    }

    .profile-key {
        color: $color-muted;
        font-weight: 500;
        margin-right: 10px;
        display: inline-block;
    }
}
