$icon-color: mix($color-secondary, #fff, 50%);

.nav {
    position: fixed;
    height: 100%;
    background-color: $color-secondary;
    border-right: 1px solid darken($color-secondary, 5%);
    width: 80px;
    text-align: center;
}

.nav__hamburger {
    padding: 20px;
    color: $icon-color;
    cursor: pointer;
    display: none;
}

.nav__items__item {
    display: block;
}

.nav__items__item__label {
   display: none;
}

.nav__items__item__icon {
    font-size: 2em;
    margin: 20px;
}

.nav__items__item {
    transition: all 125ms ease-in;

    display: block;
    color: $icon-color;
    cursor: pointer;

    &.active {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}


/** Screen too small */
@media (max-width: 600px) {
  .nav {
      text-align: left;
      position: inherit;
      height: inherit;
      text-align: inherit;
      width: inherit;
  }

  .nav__hamburger {
      display: block;
      border-bottom: 1px solid #ccc;
  }

  .nav__hamburger:hover {
      color: $link-color;
  }

  .nav__items {
      display: none;
  }

  .nav__items--expanded {
      display: block;
  }

  .nav__items__item__label {
      display: block;
  }

  .nav__items__item__icon {
      display: none;
  }
}
