$icon-color: mix($color-secondary, #fff, 50%);


.nav {
    position: fixed;
    height: 100%;
    background-color: $color-secondary;
    width: 80px;
    left: 0;
    z-index: 1000;
}

.nav__hamburger {
    padding: 20px;
    color: $icon-color;
    cursor: pointer;
    display: none;
}

.nav__items__item__label {
    opacity: 0;
    @include transition(opacity 125ms ease-out, margin-left 125ms ease-out);
    padding: 2px 20px;
    position: absolute;
    left: -200px;
    margin-left: -5px;
    margin-top: 16px;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #343639;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

.nav__items__item__icon {
    font-size: 2em;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    line-height: 60px;
    text-align: center;
}

.nav__items__item {

    display: block;
    color: $icon-color;
    cursor: pointer;
    position: relative;
    height: 60px;
    text-decoration: none;

    &.active {
        color: #fff;
    }

    &:hover {
        color: mix($color-secondary, #fff, 25%);
        background-color: mix($color-secondary, #fff, 90%);

        .nav__items__item__label {
            left: 70px;
            margin-left: 0px;
            opacity: 1;
        }
    }
}


/** Screen too small */
@media (max-width: 600px) {
  .nav {
      text-align: left;
      position: inherit;
      height: inherit;
      text-align: inherit;
      width: inherit;
  }

  .nav__hamburger {
      display: block;
      border-bottom: 1px solid #ccc;
  }

  .nav__hamburger:hover {
      color: $link-color;
  }

  .nav__items {
      display: none;
  }

  .nav__items--expanded {
      display: block;
  }

  .nav__items__item__label {
      display: block;
  }

  .nav__items__item__icon {
      display: none;
  }
}
