.search-field {
    position: relative;
    @include transition(all 250ms ease-out);

    &.search-field--loading {
        > .fa-search {
            opacity: 0;
        }
    }

    > input {
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 0 28px;
        font-size: 18px;
        font-weight: 500;
        line-height: 3.5em;
        border-bottom: 1px solid $component-border;
        width: 100%;
        display: block;
        @include transition(all 250ms ease-out);

        &:focus {
            outline: none;
            background: #fff;
        }

        &::-webkit-input-placeholder {
           color: #ccc;
           font-weight: 300;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: #ccc;
           font-weight: 300;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: #ccc;
           font-weight: 300;
        }

        &:-ms-input-placeholder {
           color: #ccc;
           font-weight: 300;
        }
    }

    > .fa {
        position: absolute;
        right: 28px;
        line-height: 3.5em;
        font-size: 18px;
        top: 0;
        color: #ccc;
        opacity: 1;
        @include transition(all 250ms ease-out);
    }

    .loader {
        position: absolute;
        right: 12px;
        top: 4px;
    }
}
