{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
        "browser": true
    },
    "rules": {
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "strict": [2, "global"]
    },
    "globals": {
        "expect": true
    }
}
