p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}

h1 {
    font-size: 35px;
    font-weight: 100;
}

h2 {
    font-size: 28px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

h6 {
    font-size: 13px;
    font-weight: 500;
}

a {
    color: $link-color;
}
