
/* brand colors */
$color-primary: #558B2F;
$color-muted: #747474;
$color-secondary: #4C77BC;

/* color uses */
$text-color: #444;
$heading-color: #222;
$link-color: $color-secondary;

/* type */
$font-family: 'Roboto', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.4;

/* buttons */
$button-font-weight: 500;
$button-font-size: $font-size-base;
$button-font-size-large: $font-size-base + 2;
$button-padding: .4em .8em;
$button-fg: $text-color;
$button-bg: #eee;
$button-primary-fg: #fff;
$button-primary-bg: $color-primary;

/* general component colors */
$component-border: #ebebeb;
