@import "_variables";
@import "_reset";
@import "_base";
@import "_utilities";
@import "_type";
@import "components/_form";
@import "components/_button";
@import "components/_badge";
@import "components/_loader";
@import "components/_list_display";
@import "components/_navigation";
@import "components/_search_field";
@import "components/_login";
@import "components/_drugs";
@import "components/_drug_list";
@import "components/_drug_details";
@import "components/_manufacturers";
@import "components/_manufacturer_list";
@import "components/_manufacturer_details";
@import "components/_master_detail";

.app,
.app-container {
    width: 100%;
    height: 100%;
}

.app-container__content {
    position: relative;
    height: 100%;
    margin-left: 80px;
}
