@import 'vars';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: $defaultTextColor;
    @include defaultFont;
    overflow: hidden;
}

a {
    color: $linkColor;
}

.muted {
    color: $mutedColor;
}

.centered {
    @include centered;
}

.padded {
    margin: 20px;
}

.text-sm {
    font-size: .6em;
}

.text-md {
    font-size: .8em;
}

.text-centered {
    text-align: center;
}

.button {
    @include defaultFont;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.button.button--primary {
    padding: 6px 12px;
    border-radius: 100px;
    color: $primaryColor;
    background-color: #eee;
    border-style: none;
    @include boldFont;
}

.button.button--large {
    width: 200px;
    padding: .5em;
}
.button.button--withIcon .button__icon {
    margin-right: 15px;
}

.loginComponent, .mainContainer {
    height: 100%;
}

.loginComponent_logoContainer__logoText {
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    color: white;
    padding-top: 50%;
    margin-top: -.5em;
}

.loginComponent__logoContainer {
    background-color: #10B651;
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}

.loginComponent__loginOptions {
    position: relative;
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}

.loginComponent__loginOptions {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.loginOptions__oauthLogin {
    text-align: center;
}

.facebookButton.button {
    background-color: #00aced;
    display: block;
    width: 200px;
    color: white;
    margin-left: 50%;
    transform: translate(-50%);
}

.twitterButton.button {
    background-color: #3b5998;
    display: block;
    color: white;
    width: 200px;
    margin-left: 50%;
    transform: translate(-50%);
}

.demoButton.button {
    display: block;
    width: 200px;
    margin-left: 50%;
    transform: translate(-50%);
}

.loginOptions__oauthLogin,
.twitterButton,
.facebookButton,
.demoButton {
    margin-top: 20px;
}

.muted {
    @include muted;
}