$primaryColor: #108651;
$defaultTextColor: #444444; // for all body text
$linkColor: #5c7add; // for links and titles
$mutedColor: #707070;//  for muted text

$fontFamily: 'Roboto', sans-serif;

@mixin defaultFont {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 16px;
}

@mixin boldFont {
    font-family: $fontFamily;
    font-weight: 500;
    font-size: 14px;
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin muted {
    color: $mutedColor;
}